.checked{
    color:teal;
}

body{
    background-color: #e1e5ea;
    font-size: 150%;
    text-align: center;
}
h1{
    color:#22A39F;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5%;
}
p{
    color:#434242;
}
table{
    margin-top: 40px;
    width:50%;
    line-height: 2;
}
hr{
    width: 50%;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color: wheat;
    height: 50px;
    
}
.logo{
    height:45px;
}  

  
a:hover{
    background-color:#14b3ad;
}
  
ul{
  list-style: none;
  display:flex;
}
ul li a{
  height:50px;
  line-height: 43px;
  margin:3px;
  padding:15px 22px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500px;
  color: grey;
  text-decoration: none;
}